###### pip needs to be installed with                   ###                
###### pip install                                      ###
###### execution with: -pip install requirements.txt    ###                                
###### check with: pip freeze  your packages            ###                        

###### Requirements without Version Specifiers ######


###### Requirements with Version Specifiers ######
pandas==1.3.4
numpy == 1.21.4
bokeh == 2.4.3
DataSpyre == 0.2.8